/*nav
{
	position: fixed;
	top: 0%;
}*/

.nav-wrapper					/*navigation bar*/
{
	position: fixed;
}

.pagination						/*page numbering*/
{
	margin-left: auto;
	margin-right: auto;
	position: absolute;
	left: 40%;
}

.page-footer					/*footer*/
{
	width: 100%;/*
	position: absolute;
	top: 500px;*/
}

div.contentWrapper
{
	position: relative;
	width: 800px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

div.algoWrapper
{
	position: relative;
	width: 1000px;
	margin-right: auto;
	margin-left: auto;
	padding-left: 10px;
	padding-right: 10px;
	box-sizing: border-box;
}

div.col s12 m2
{
	margin-top: 20px;
	margin-bottom: 20px;
	padding-left: 10px;
	padding-right: 10px;
}


div.blox
{
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

/* 	HAMBURGER BUTTON AND PANEL */
div.hamburgerButton
{
	background-image: url('resources/hamburger.png');
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	height: 25px;
	width: 25px;
	position: absolute;
	display: inline-block;
	top: 30%;
	left: 15px;
}

div.hamburgerButton:hover
{
	background-color: rgba(50, 50, 50, 0.2);
	border-radius: 20px;
}

div.hamb_box
{
	border: 1px solid red;
}

div.sideMenu
{
	position: fixed;
	z-index: 999;
	height: 100%;
	width: 20%;
	top: 7%;
	left: 0%;
	display: none;
	box-shadow: 5px 5px 15px gray;
	background-color: white;
	color: black;
	overflow-y: auto;
	/*text-align: center;*/
}

/* Contains subcontent for each category in side panel */
div.subContentContainer {
	padding-left: 30px;
}

div.algo_section
{
	font-size: 18px;
}

div.algo_section:hover
{}

div.algo_subsection
{
	font-size: 14px;
	box-sizing: border-box;
	padding-left: 10px;
}

div.sectionactive
{}

div#section_helloWorld
{}

div#section_backtracking
{}

div#subsection_knight
{}

p.citation
{
	box-sizing: border-box;
	text-align: center;
}

p.citationAuthor
{
	text-align: right;
}